<div class="container">
    <h1><p>Lista de Empleados</p></h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button routerLink="/add" type="button" class="btn btn-success btn-lg">Agregar</button>
    </div>
    <p></p>
    <table class="table table-bordered table-success table-striped table-hover border-dark">
        <thead>
          <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Curso</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of ListarEmpleado">
            <th>{{empleado.id_empleado}}</th>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.curso}}</td>
            <td>
                <button (click)="modificar(empleado.id_empleado!)" type="button" class="btn btn-primary">Editar</button>
            </td>
            <td>
                <button (click)="eliminar(empleado.id_empleado!)" type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>


